/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');

.container {
  margin: 0 auto;
  width: 700px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

body {
  background-color:aliceblue;
  /* TODO: change the font - be mindful of how fonts are imported in the webpage */
  font-family: 'Noto Sans', sans-serif;
  /* TODO: change the background colour */
  color: #827397;
  font-size: 16px;
  line-height:normal;
}
h1, h2, h3 {
  /* TODO: change the header font colour */
  color: #4D4C7D;
}

h1 {
  font-size: 24px;
  line-height: 24px;
}

h2 {
  font-size: 20px;
  line-height: 20px;
}

h3 {
  font-size: 18px;
  line-height: 18px;
}

p {
  margin-bottom: 40px;
}

a {
  /* TODO: change the link colours */
  text-decoration: none;
  color: #363062;
}

a:hover {
  background-color: #827397;
}

.img-circle {
  border-radius: 50%;
}

.card-white {
  /* TODO: change the card background colour */
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0 0 0 / 10%);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.btn-blue {
  /* TODO: change the button colour */
  background-color:#4D4C7D;
  color: #E9D5CA;
  padding: 15px 20px;
  border-radius: 4px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.icon-larger {
  font-size: xx-large;
}

.footnote-small {
  font-size: 8px;
}
